.App {
  font-family: 'Herculanum';
  background-color: gray;
  width: 8.5in;
  height: 11in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Card {
  background-color: white;
  max-height: 5.2in;
  max-width: 3.9in;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-size: 1px;
  border-color: DarkGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.CardHeader {
  display: flex;
  margin: 2px;
  flex-direction: row;
  width: 100%;
  max-height: 1in;
  justify-content: flex-end;
  align-items: center;
}

.CardName {
  width: 75%;
  margin-left: 2px;
  align-items: center;
  background-color: rgb(47, 47, 47);
  color: white;
  text-align: center;
  padding: 14px;
  margin-right: -20px;
  padding-right: 34px;
  border: solid;
  font-weight: bold;
  border-color: gray;
  border-width: 1px;
}
.HealthContainer {
  width: 0.65in;
  height: 0.5in;
  padding-top: 0.13in;
  text-align: center;
  background-color: rgb(126, 16, 16);
  color: white;
  font-size: 34px;
  border: solid;
  border-radius: 50%;
  border-color: gray;
  border-width: 1px;
}
.ContentBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.Content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CharacterIdentity {
  white-space: pre;
  margin: 2px;
  margin-top: -11px;
  background-color: rgb(127, 127, 127);
  color: black;
  font-size: 14px;
}
.Abilities {
  background-color: gray;
  border: 1px solid black;
  margin: 2px;
}
.AbilityHeader {
  color: white;
  font-size: 14px;
}
.AbilityText {
  color: black;
  font-size: 12px;
}
.Stats {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.Stat {
  margin: 2;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.StatNumber {
  width: 0.45in;
  height: 0.3in;
  padding-top: 0.15in;
  text-align: center;
  background-color: gray;
  color: black;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid black;
}
.StatIcon {
  margin: 1px;
  flex: 1;
}
.RangeStats {
  margin-left: 1px;
  height: 100%;
  width: 0.45in;
}
.RangeStats {
  height: 100%;
  width: 0.45in;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}
.RangeItem {
  border: 1px solid black;
  border-right: 0px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: flex-end;
  margin-bottom: -1px;
}
.RangeModifier {
  padding: 4px;
  font-size: 16px;
}
.RangeNumber {
  font-size: 20px;
  font-style: bold;
}
.RangeModifier {
}
