.Card {
  font-family: 'Herculanum';
  background-color: white;
  height: 4.9in;
  width: 3.5in;
  border-style: solid;
  border-size: 1px;
  border-color: DarkGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.CardHeader {
  display: flex;
  margin: 2px;
  flex-direction: row;
  width: 100%;
  max-height: 1in;
  justify-content: flex-end;
  align-items: center;
}

.CardName {
  width: 80%;
  margin-left: 8px;
  align-items: center;
  background-color: rgb(47, 47, 47);
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: -20px;
  padding-right: 34px;
  font-weight: bold;
  border-width: 1px;
}
.HealthContainer {
  width: 0.58in;
  height: 0.45in;
  padding-top: 0.13in;
  text-align: center;
  background-color: rgb(126, 16, 16);
  color: white;
  font-size: 30px;
  border: solid;
  border-radius: 50%;
  border-color: gray;
  border-width: 1px;
}
.ContentBody {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.Content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CharacterIdentity {

  white-space: pre;
  margin-left: 8px;
  margin-top: -13px;
  border: 1px solid LightGray;
  color: black;
  font-size: 14px;
}
.Abilities {
  background-color: LightGray;
  border: 1px solid black;
  margin: 2px;
  padding: 1px;
}
.AbilityHeader {
  color: white;
  font-size: 14px;
}
.AbilityText {
  color: black;
  font-size: 10px;
  letter-spacing: 1px;
}
.Stats {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.Stat {
  display: flex;
  padding: 2;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.StatNumber {
  width: 0.45in;
  height: 0.3in;
  padding-top: 0.15in;
  text-align: center;
  background-color: LightGray;
  color: black;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid black;
}
.StatIcon {
  flex: 1;
  align-items: flex-end;
}
.RangeIcons {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  /*padding-bottom: 10px;*/
}
.RangeStats {
  height: 100%;
  width: 0.45in;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
}
.RangeItem {
  border: 1px solid black;
  border-right: 0px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: flex-end;
  margin-bottom: -1px;
}
.AttackModifier {
  padding: 4px;
  font-size: 16px;
  background-color: white;
}
.RangeModifier {
  padding: 4px;
  font-size: 16px;
}
.RangeNumber {
  font-size: 20px;
  font-style: bold;
}
