.PrintableSheet {
  font-family: 'Herculanum';
  display: flex;
  flex-wrap: wrap;
  margin: 1in;
  justify-content: flex-start;
  flex-direction: row;
  width: 9in;
  height: 7in;
  background-color: white;
  color: white;
}
