.CardViewer {
  font-family: "Herculanum";
  background-color: #D9CEAD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SearchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #D9CEAD;
  color: #710117;
  justify-content: space-between;
  align-items: center;
}
.FilterHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #D9CEAD;
  color: #710117;
  justify-content: center;
  align-items: center;
}
.Search {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  color: #D9CEAD;
  justify-content: flex-start;
  align-items: center;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #d9cead;
  background-color: #710117;
  padding: 10px;
  margin: 4px;
  border: 4px solid #710117;
  border-radius: 6%;
}
.Button:hover {
  opacity: 0.8;
}
.SearchBarText {
  color: #710117;
  padding: 10px;
  background-color: #d9cead;
}
.HorizontalFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.VerticalFlex {
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Hoverable:hover {
  opacity: 0.8;
}
